# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*.rs]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
