version (u32)1
interface (u64)3
description ""

struct "Joint" {
	description "A hand joint. Distance from input handler's field is given because it's cheap to calculate and laggy to request from the server."

	field "position" type="vec3" description="Position of the joint relative to the input handler's field."
	field "rotation" type="quat" description="Orientation of the joint relative to the input handler's field."
	field "radius"   type="float" description="Radius of the joint in meters."
	field "distance" type="float" description="Distance from the center of the joint to the input handler's field"
}
struct "Finger" {
	description ""

	field "tip"          type="struct" struct="Joint" description="Joint inside the fingertip offset by the radius."
	field "distal"       type="struct" struct="Joint"
	field "intermediate" type="struct" struct="Joint"
	field "proximal"     type="struct" struct="Joint"
	field "metacarpal"   type="struct" struct="Joint"
}
struct "Thumb" {
	description "Different than finger to be explicit about number of joints."

	field "tip"        type="struct" struct="Joint"
	field "distal"     type="struct" struct="Joint"
	field "proximal"   type="struct" struct="Joint"
	field "metacarpal" type="struct" struct="Joint"
}
struct "Hand" {
	description "A fully articulated and tracked hand according to OpenXR spec for its coordinate system and joints."

	field "right"  type="bool"
	field "thumb"  type="struct" struct="Thumb"
	field "index"  type="struct" struct="Finger"
	field "middle" type="struct" struct="Finger"
	field "ring"   type="struct" struct="Finger"
	field "little" type="struct" struct="Finger"
	field "palm"   type="struct" struct="Joint"
	field "wrist"  type="struct" struct="Joint"
	field "elbow"  type="struct" struct="Joint" optional=true
}
struct "Pointer" {
	description "A 3D pointer, such as a gaze pointer for eye tracking or a mouse or a ray from a controller."

	field "origin" type="vec3"
	field "orientation" type="quat"
	field "deepest_point" type="vec3" description=r#"
	The point that is the most inside the input handler's field.
	Useful for telling how close to the center it's pointing or for thin objects can take the place of a point of intersection.
	"#
}
struct "Tip" {
	description "Represents a controller, pen tip, spatial cursor, etc. that is just a single point."

	field "origin" type="vec3"
	field "orientation" type="quat"
}
union "InputDataType" {
	description "The special type of an InputMethod."

	option type="struct" struct="Pointer"
	option type="struct" struct="Hand"
	option type="struct" struct="Tip"
}
struct "InputData" {
	description "Information about a given input method's state. All coordinates are relative to the InputHandler."

	field "id"       type="id" description="Used to uniquely identify the input method so state can be tracked across input events."
	field "input"    type="struct" struct="InputDataType" description="All vectors and quaternions are relative to the input handler if deserialized."
	field "distance" type="float" description="Closest distance from the input handler to the field."
	field "datamap"  type="datamap" description="Non-spatial data in a map."
	field "order"    type="uint" description="There are [order] objects that got this input data before this one."
	field "captured" type="bool" description="Is this input handler capturing this input method?"
}

signal "create_input_method" side="server" {
	description "Create an input method node"

    argument "id" type="id"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "initial_data" type="struct" struct="InputDataType"
	argument "datamap" type="datamap"
	return type="node" node="InputMethod" id_argument="id"
}
aspect "InputMethodRef" {
	description "Node representing a spatial input device"
	inherits "SpatialRef"

	signal "try_capture" side="server" {
		description "Try to capture the input method with the given handler. When the handler does not get input from the method, it will be released."

		argument "handler" type="node" aspect="InputHandler"
	}
	signal "release" side="server" {
		description "If captured by this handler, release it (e.g. the object is let go of after grabbing)."

		argument "handler" type="node" aspect="InputHandler"
	}
}
aspect "InputMethod" {
	description r#"
	Node representing a spatial input device.

	Each input method is different, and has heuristics that apply to the specific device that drives it.
	For example, a mouse is a perfectly stable pointer that slides in 2D space, so picking the first thing it hits makes sense.
	On the other hand, a pointer attached to a controller is inherently shaky and so giving it some fuzzier heuristics (such as sending input to near misses by angle) helps make input more reliable.

	So because of that, the true state of the input method is updated whenever the device gets an event.

	The handler order is updated for 2 reasons:
	1. Send input to every handler that the user might reasonably be trying to interact with.
	2. The order lets the handler show the user how likely it is to be picked (via signifiers), so the user can adjust their input device.

	The capture system is a collaborative effort between the input method and the handler to make sure that:
	1. The input method decides what recieves input, for security and reliability (if the client with an input handler freezes, it won't lock up the entire input method).
	2. The handler can request temporary exclusive access to the input method, to prevent input collisions (if I'm grabbing something, i don't want anything else to interfere or assume it is being grabbed with a pinch gesture).
	3. The heuristics of the input method and handler are both considered (e.g. the input method for a hand might send input only to nearby handlers, but then the handler requests a capture when it is pinched. This would make a handler with a field intersecing another that does not use pinch differentiated, and therefore improves reliability.).
	"#
	inherits "Spatial"
	inherits "InputMethodRef"

	signal "update_state" side="server" {
		description "Set the input data of this input method. You must keep the same input data type throughout the entire thing."

		argument "input" type="struct" struct="InputDataType"
		argument "datamap" type="datamap"
	}
	signal "set_handler_order" side="server" {
		description "Set the order of handlers to propagate input to."

		argument "handlers" type="vec" member_type="node" aspect="InputHandler"
	}
	signal "set_captures" side="server" {
		description "Set which handlers are captured."

		argument "handlers" type="vec" member_type="node" aspect="InputHandler"
	}

	signal "create_handler" side="client" {
		description "A new input handler has just been created."

		argument "handler" type="node" aspect="InputHandler"
	    argument "field" type="node" aspect="Field"
	}
	signal "request_capture_handler" side="client" {
		description "An input handler requests to capture this input method."

		argument "id" type="id"
	}
	signal "release_handler" side="client" {
		description "An input handler releases this input method."

		argument "id" type="id"
	}
	signal "destroy_handler" side="client" {
		description "An input handler has just been destroyed."

		argument "id" type="id"
	}
}

signal "create_input_handler" side="server" {
	description "Create an input handler node"

    argument "id" type="id"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "field" type="node" aspect="Field"
	return type="node" node="InputHandler" id_argument="id"
}
aspect "InputHandler" {
	description "Receives input from input methods."
	inherits "Spatial"

	signal "input_sent" side="client" {
		description "An input method just started sending input to this handler."

		argument "method" type="node" aspect="InputMethodRef"
		argument "data" type="struct" struct="InputData"
	}
	signal "input_updated" side="client" {
		description "An input method's data has been updated. The input data's ID matches the original method's data ID."

		argument "data" type="struct" struct="InputData"
	}
	signal "input_left" side="client" {
		description "An input method just stopped sending input to this handler."

		argument "method" type="id"
	}
}
