[package]
edition = "2021"
name = "stardust-xr"
version = "0.1.0"
authors = ["Nova King <technobaboo@proton.me>"]
description = "Base library for the Stardust XR display server"
license = "MIT"
repository = "https://github.com/StardustXR/stardust-xr/"
homepage = "https://stardustxr.org"

[dependencies]
anyhow = "1.0.57"
cluFlock = "1.2.7"
color-rs = "0.7.1"
flatbuffers = "2.1.2"
flexbuffers = "2.0.0"
mint = "0.5.9"
parking_lot = "0.12.1"
stardust-xr-schemas = {path = "../schemas", version = "0.1.0"}
slotmap = "1.0.6"
thiserror = "1.0.31"
tokio = { version = "1", features = ["sync", "macros", "rt", "time", "net", "io-util", "signal"] }
xdg = "2.4.1"
chrono = "0.4.22"
