[package]
edition = "2021"
rust-version = "1.75"
name = "stardust-xr-fusion"
version = "0.43.2"
authors = ["Nova King <technobaboo@proton.me>"]
description = "High level client library for the Stardust XR display server"
license = "MIT"
repository = "https://github.com/StardustXR/stardust-xr/"
homepage = "https://stardustxr.org"

[features]
default = []
keymap = ["dep:xkbcommon"]

[dependencies]
color-rs = "0.8.0"
flagset = { version = "0.4.3", features = ["serde"] }
mint = "0.5.9"
nanoid = "0.4.0"
parking_lot = "0.12.1"
rustc-hash = "1.1.0"
stardust-xr = { path = "../core", version = "0.14.0" }
serde = "1.0.177"
serde_repr = "0.1.16"
thiserror = "1.0.38"
tokio = { version = "1", features = [
    "sync",
    "macros",
    "rt",
    "time",
    "net",
    "io-util",
    "signal",
] }
xkbcommon = { version = "0.7.0", default-features = false, optional = true }
tracing = "0.1.37"
enum_dispatch = "0.3.12"
color-eyre = "0.6.2"
serde_with = "3.4.0"
stardust-xr-fusion-codegen = { path = "codegen" }

[dev-dependencies]
glam = { version = "0.25.0", features = ["mint"] }
manifest-dir-macros = "0.1.17"
tracing-subscriber = "0.3.17"
