[package]
edition = "2021"
name = "schemas"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flatbuffers = "2.1.2"
mint = "0.5.9"

[build-dependencies]
anyhow = "1.0.57"
