version (u32)1
interface "/audio"
description "Simple spatial audio sources"

signal "create_sound" side="server" {
	description "Create a sound node. WAV and MP3 are supported."

	argument "name" type="string"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "resource" type="resource"
	return type="node" node="Sound" parent="/audio/sound" name_argument="name"
}
aspect "Sound" {
	description "Simple spatial audio source"
	inherits "Spatial"
	
	signal "play" side="server" {
		description "Play sound effect"
	}
	signal "stop" side="server" {
		description "Stop sound effect"
	}
}