version (u32)1
interface (u64)7
description "Interface to send non-spatial data through space"

struct "NewReceiverInfo" {
	description ""
	field "uid" type="string"
}


method "register_keymap" side="server" {
	description "Register a keymap with the server to easily identify it later"

	argument "keymap" type="string"
	return type="string"
}
method "get_keymap" side="server" {
	description "Get the keymap string representation from an ID"

	argument "keymap_id" type="string"
	return type="string"
}

signal "create_pulse_sender" side="server" {
	description ""

    argument "id" type="id"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "mask" type="datamap"
	return type="node" node="PulseSender" id_argument="id"
}
aspect "PulseSender" {
	description ""
	inherits "Spatial"

	signal "new_receiver" side="client" {
		description ""

		argument "uid" type="string"
		argument "receiver" type="node" node="PulseReceiver"
		argument "field" type="node" node="Field"
	}
	signal "drop_receiver" side="client" {
		description ""

		argument "uid" type="string"
	}
}

signal "create_pulse_receiver" side="server" {
	description "Create a pulse receiver node. The field will remain intact even if its node is dropped."

    argument "id" type="id"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "field" type="node" aspect="Field"
	argument "mask" type="datamap"
	return type="node" node="PulseReceiver" id_argument="id"
}
aspect "PulseReceiver" {
	description ""
	inherits "Spatial"

	signal "data" side="client" {
		description ""
		argument "sender_uid" type="string"
		argument "data" type="datamap" 
	}
	signal "send_data" side="server" {
		description ""
		argument "sender" type="node" aspect="PulseSender"
		argument "data" type="datamap" 
	}
}