version (u32)1
interface "/data"
description "Interface to send non-spatial data through space"

struct "NewReceiverInfo" {
	description ""
	field "uid" type="string"
}

signal "create_pulse_sender" side="server" {
	description ""

	argument "name" type="string"
	argument "parent" type="node" aspect="spatial"
	argument "transform" type="struct" struct="transform"
	argument "mask" type="datamap"
	return type="node" node="PulseSender" parent="/data/sender" name_argument="name"
}
signal "create_pulse_receiver" side="server" {
	description "Create a pulse receiver node. The field will remain intact even if its node is dropped."

	argument "name" type="string"
	argument "parent" type="node" aspect="spatial" 
	argument "transform" type="struct" struct="transform"
	argument "field" type="node" aspect="field" 
	argument "mask" type="datamap"
	return type="node" node="PulseReceiver" parent="/data/receiver" name_argument="name"
}

method "register_keymap" side="server" {
	description "Register a keymap with the server to easily identify it later"

	argument "keymap" type="string"
	return type="string"
}
method "get_keymap" side="server" {
	description "Get the keymap string representation from an ID"

	argument "keymap_id" type="string"
	return type="string"
}


node "PulseSender" {
	description ""

	aspect "Node"
	aspect "Spatial"
	aspect "PulseSender"
}
aspect "PulseSender" {
	description ""

	signal "new_receiver" side="client" {
		description ""

		argument "uid" type="string"
		argument "receiver" type="node" node="PulseReceiver"
		argument "field" type="node" node="UnknownField"
	}
	signal "drop_receiver" side="client" {
		description ""

		argument "uid" type="string"
	}
}

node "PulseReceiver" {
	description ""
	
	aspect "Node"
	aspect "Spatial"
	aspect "PulseReceiver"
}
aspect "PulseReceiver" {
	description ""

	signal "data" side="client" {
		description ""
		argument "sender_uid" type="string"
		argument "data" type="datamap" 
	}
	signal "send_data" side="server" {
		description ""
		argument "sender" type="node" aspect="PulseSender"
		argument "data" type="datamap" 
	}
}