version (u32)1
interface "/field"
description r#"
	Analog SDFs to define boundaries for input, interaction, and behavior.
"#

struct "RayMarchResult" {
	description "Information about raymarching a field"

	field "ray_origin" type="vec3"
	field "ray_direction" type="vec3" 
	field "min_distance" type="float"
	field "deepest_point_distance" type="float"
	field "ray_length" type="float"
	field "ray_steps" type="uint"
}

aspect "Field" {
	description "A node that is spatial and contains an SDF"
	inherits "SpatialRef"

	method "distance" side="server" {
		description "Get the distance to the surface of this field relative to the `point` in `space`"
		argument "space" type="node" aspect="SpatialRef"
		argument "point" type="vec3"
		return type="float"
	}

	method "normal" side="server" {
		description "Get a vector pointing away from surface of this field relative to the `point` in `space`"
		argument "space" type="node" aspect="SpatialRef"
		argument "point" type="vec3"
		return type="vec3"
	}

	method "closest_point" side="server" {
		description "Get the closest point on the surface of this field relative to the `point` in `space`"
		argument "space" type="node" aspect="SpatialRef"
		argument "point" type="vec3"
		return type="vec3"
	}

	method "ray_march" side="server" {
		description "Get information from the server raymarching the given ray in `space` through this field such as steps, closest/deepest distance, etc."
		argument "space" type="node" aspect="SpatialRef" 
		argument "ray_origin" type="vec3"
		argument "ray_direction" type="vec3"
		return type="struct" struct="RayMarchResult"
	}
}

signal "create_box_field" side="server" {
	description "Create a field with the shape of a box"
	argument "name" type="string"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "size" type="vec3"
	return type="node" node="BoxField" parent="/field" name_argument="name"
}
aspect "BoxField" {
	description "A cuboid field with adjustable size"
	inherits "Spatial"
	inherits "Field"

	signal "set_size" side="server" {
		description "Set the size of this field"
		argument "size" type="vec3"
	}
}

signal "create_cylinder_field" side="server" {
	description "Create a field with the shape of a box"
	argument "name" type="string"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "length" type="float"
	argument "radius" type="float"
	return type="node" node="CylinderField" parent="/field" name_argument="name"
}
aspect "CylinderField" {
	description "A cylinder-shaped field with adjustable size"
	inherits "Spatial"
	inherits "Field"

	signal "set_size" side="server" {
		description "Set the size of this field"
		argument "length" type="float"
		argument "radius" type="float"
	}
}

signal "create_sphere_field" side="server" {
	description "Create a field with the shape of a sphere"
	argument "name" type="string"
	argument "parent" type="node" aspect="SpatialRef"
	argument "position" type="vec3"
	argument "radius" type="float"
	return type="node" node="SphereField" parent="/field" name_argument="name"
}
aspect "SphereField" {
	description "A sphere-shaped field with adjustable size"
	inherits "Spatial"
	inherits "Field"

	signal "set_radius" side="server" {
		description "Set the size of this field"
		argument "radius" type="float"
	}
}

signal "create_torus_field" side="server" {
	description "Create a field with the shape of a torus"
	argument "name" type="string"
	argument "parent" type="node" aspect="SpatialRef"
	argument "transform" type="struct" struct="Transform"
	argument "radius_a" type="float"
	argument "radius_b" type="float"
	return type="node" node="TorusField" parent="/field" name_argument="name"
}
aspect "TorusField" {
	description "A torus-shaped field with adjustable size"
	inherits "Field"

	signal "set_size" side="server" {
		description "Set the size of this field"
		argument "radius_a" type="float"
		argument "radius_b" type="float"
	}
}
