version (u32)1
interface (u64)10
description ""

aspect "Item" {
    description ""
    inherits "Spatial"
    
    signal "release" side="server" {
        description ""
    }
}

// signal "create_item_acceptor" side="server" {
//     description "Create an item acceptor to allow temporary ownership of a given type of item. Creates a node at `/item/<item_type>/acceptor/<name>`."
    
//     argument "id" type="id"
//     argument "parent" type="node" aspect="SpatialRef"
//     argument "transform" type="struct" struct="transform"
//     argument "item_type" type="string"
//     argument "field" type="node" aspect="field"
// }
aspect "ItemAcceptor" {
    description ""
    inherits "Spatial"
    
    
    // signal "capture_item" side="server" {
    //     description ""
    //     argument "item" type="node" node="UnknownItem"
    // }
    // signal "capture_item" side="client" {
    //     description ""
    //     argument "id" type="id"
    //     argument "item" type="node" node="UnknownItem"
    //     argument "initial_data" type="union" union="UnknownItemInitData"
    // }
    signal "release_item" side="client" {
        description ""
        argument "item_id" type="id"
    }
}

// signal "register_item_ui" side="server" {
//     description "Register this client to manage the items of a certain type and create default 3D UI for them."
    
//     argument "item_type" type="string"
//     return type="node" node="UnknownItemUi" parent="/item" name_argument="item_type"
// }
aspect "ItemUi" {
    description ""
    
    // signal "create_item" side="client" {
    //     description ""
    //     argument "id" type="id"
    //     argument "item" type="node" node="UnknownItem"
    //     argument "initial_data" type="node" node="InitialItemData"
    // }
    signal "capture_item" side="client" {
        description ""
        argument "item_id" type="id"
        argument "acceptor_id" type="id"
    }
    signal "release_item" side="client" {
        description ""
        argument "item_id" type="id"
        argument "acceptor_id" type="id"
    }
    signal "destroy_item" side="client" {
        description ""
        argument "id" type="id"
    }
    
    // signal "create_acceptor" side="client" {
    //     description ""
    //     argument "id" type="id"
    //     argument "acceptor" type="node" node="UnknownItemAcceptor"
    //     argument "acceptor_field" type="node" aspect="Field"
    // }
    signal "destroy_acceptor" side="client" {
        description ""
        argument "id" type="id"
    }
}
