version (u32)1
description "Aspects that apply to all nodes"

aspect "Owned" {
	description "This node was created by the current client and can be disabled/destroyed"

	signal "set_enabled" side="server" {
		description "Set if this node is enabled or not. Disabled drawables won't render, input handlers won't receive input, etc."
		argument "enabled" type="bool" description="Enabled"
	}
	signal "destroy" side="server" {
		description "Destroy this node immediately. Not all nodes will have this method, those that don't can be dropped client-side without issue."
	}
}
