name: Build
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: install dependancies
        run: |
          sudo apt install -y wget
          wget https://github.com/google/flatbuffers/releases/download/v2.0.0/Linux.flatc.binary.clang++-9.zip
          unzip Linux.flatc.binary.clang++-9.zip
          chmod +x flatc
          sudo mv flatc /usr/bin/
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@v1

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: install dependancies
        run: |
          sudo apt install -y wget
          wget https://github.com/google/flatbuffers/releases/download/v2.0.0/Linux.flatc.binary.clang++-9.zip
          unzip Linux.flatc.binary.clang++-9.zip
          chmod +x flatc
          sudo mv flatc /usr/bin/
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@v1

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: install dependancies
        run: |
          sudo apt install -y wget
          wget https://github.com/google/flatbuffers/releases/download/v2.0.0/Linux.flatc.binary.clang++-9.zip
          unzip Linux.flatc.binary.clang++-9.zip
          chmod +x flatc
          sudo mv flatc /usr/bin/
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v1

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
